
<div class="screen-css">
    <div class="row g-3">
        <div class="col-2">
            <label for="name" class="visually-hidden">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" 
            [readonly]='checkreadOnly(room)'
            [(ngModel)]='room.name'>
        </div>
        <div class="col-2">
            <label for="code" class="visually-hidden">Department Name</label>
            <p-dropdown [options]="departmentList" [(ngModel)]="room.deptId" optionValue='id' optionLabel="departmentName"></p-dropdown>
        </div>
        <div class="col-2">
            <label for="colCount" class="visually-hidden">Row Count</label>
            <input type="text" class="form-control" id="colCount" placeholder="Number of row" 
            [(ngModel)]='room.noOfRow'>
        </div>
        <div class="col-2">
            <label for="rowCount" class="visually-hidden">Col Count</label>
            <input type="text" class="form-control" id="rowCount" placeholder="Each Row Capacity" 
            [(ngModel)]='room.rowCapacity'>
        </div>
        <!-- <div class="col-2">
            <label for="start" class="visually-hidden">Col Count</label>
            <input type="text" class="form-control" id="start" placeholder="Each Row Capacity" 
            [(ngModel)]='room.start'>
        </div>
        <div class="col-2">
            <label for="end" class="visually-hidden">Col Count</label>
            <input type="text" class="form-control" id="end" placeholder="Each Row Capacity" 
            [(ngModel)]='room.end'>
        </div> -->
        <div class="col-2">
            <button type="submit" class="btn btn-primary mb-3" (click)="save()" *ngIf="!room.id && room.name">Save</button>
            <button type="submit" class="btn btn-primary mb-3 ml-10" (click)='save()' *ngIf="room.id && room.name">Update</button>
            <button type="reset" class="btn btn-primary mb-3 ml-10" (click)='reset()'>Reset</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Department Name</th>
                        <th scope="col">Number Of Row</th>
                        <th scope="col">Capacity Of Row</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let data of rooms; let i = index;'>
                        <td>{{i + 1}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.deptName}}</td>
                        <td>{{data.noOfRow}}</td>
                        <td>{{data.rowCapacity}}</td>

                        <td>
                            <i class="pi pi-pencil" (click)='select(data)' *ngIf='data.id != room.id'></i>
                            <i class="pi pi-pencil pi-selected" (click)='select(data)' *ngIf='data.id == room.id'></i>
                            <i class="pi pi-trash" (click)='deleteConfirm(data)'></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>