<div class="screen-css">
    <form class="row g-3">
        <div class="col-2">
            <label for="name" class="visually-hidden">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
        </div>

        <div class="col-2">
            <label for="code" class="visually-hidden">Employee Code</label>
            <input type="text" class="form-control" id="code" placeholder="Employee Code">
        </div>

        <div class="col-2">
            <label for="email" class="visually-hidden">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="col-2">
            <label for="dept" class="visually-hidden">Departrment</label>
            <input type="password" class="form-control" id="dept" placeholder="dept">
        </div>

        <div class="col-2">
            <label for="pn" class="visually-hidden">Phone Number</label>
            <input type="password" class="form-control" id="pn" placeholder="Phone Number">
        </div>

        
        <div class="col-2">
            <button type="submit" class="btn btn-primary mb-3">Save</button>
            <button type="reset" class="btn btn-primary mb-3 ml-10">Reset</button>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>