
    <div class="row">
        <div class="col-md-12">
            <!-- <p-tabMenu [model]="items">
                <ng-template pTemplate="start">
                    <img src="assets/images/logo.png" height="40" class="p-mr-2">
                </ng-template>
            </p-tabMenu> -->
            <p-menubar [model]="items">
                <ng-template pTemplate="start">
                    <img src="assets/images/logo.png" height="40" class="p-mr-2">
                </ng-template>
            </p-menubar>
        </div>
    </div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>

