<div class="row imgbg">
  <div class="col-md-12 allign-login-form">
    <div class="login-form">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter username"
          [(ngModel)]="username"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]='password'
          id="exampleInputPassword1"
          placeholder="Password"
        />
      </div>
      <div class="form-group text-center" style="margin-top: 10px">
        <button class="btn btn-primary" (click)='login()'>Submit</button>
        &nbsp;&nbsp;
        <button class="btn btn-danger" (click)='reset()'>Cancel</button>
      </div>
    </div>
  </div>
</div>
